@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* ----- BODY ----- */

body {
    margin: 0;
    max-width: 1050px;
    margin: auto;
    background-color: #ededed;
    border-left: 1px solid rgba(0, 0, 0, 0.048);
    border-right: 1px solid rgba(0, 0, 0, 0.048);
}

.img-one,
.img-two {
    border-radius: 20px;
}

.reco-paper img,
.mySlides img {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}

span {
    font-weight: bold;
}
 
/* ----- HEADER ----- */

header {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -20px;
}

header p {
    display: inline-block;
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
    vertical-align: middle;
}

header img {
    display: inline-block;
    max-width: 110px;
    height: auto;
    vertical-align: middle;
    padding-left: 10px;
}

@media screen and (min-width: 500px) {
    header p {
        font-size: 50px;
    }
    header img {
        max-width: 140px;
        padding-left: 20px;
    }
}

/* ----- NAVBAR ----- */

.topnav {
    overflow: hidden;
    background-color: rgb(136, 133, 133);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav a img {
    width: 35px;
    vertical-align: middle;
    padding-left: 8px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
@media screen and (max-width: 500px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 500px) {
    .topnav.responsive {
        position: relative;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

/* ----- MAIN ----- */

main,
main div {
    display: grid;
    place-items: center;
}

.big-text {
    font-size: 25px;
    font-weight: bold;
}

.small-text {
    font-size: 21px;
}

main div {
    line-height:0%
}